/**
  * This is for layout helpers, most commonly flexbox.
  */


// Layout Element helpers
// ------------------------------
.flex {
    display: flex;
  }
  
  // auto add space between elements.  add along with the 'flex' class
  .flex-space-between {
    justify-content: space-between;
  }
  .flex-space-around {
    justify-content: space-around;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-flow-wrap {
    flex-flow: row wrap;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-vertical-center {
    flex-direction: column;
    justify-content: center;
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .flex-align-items-top {
    align-items: flex-start;
  }
  .flex-align-items-center {
    align-items: center;
  }
  .flex-align-items-baseline {
    align-items: baseline;
  }
  .flex-align-items-bottom {
    align-items: flex-end;
  }
  .flex-align-self-end {
    align-self: flex-end;
  }
  .flex-align-right {
    margin-left: auto; // 'auto' in a flex container absorbs extra space on the opposite side
  }
  // "auto" will look for element's width.  Explicitly set the width (px, %, etc.) for flex-basis in your specific styles. (i.e. width: 40px)
  .flex-grow {
    flex: 1 0 auto;
  }
  // "auto" will look for element's width.  Explicitly set the width (px, %, etc.) for flex-basis in your specific styles. (i.e. width: 40px)
  .flex-shrink {
    flex: 0 1 auto;
  }
  
  // Sections - Modules
  // Sections that display rules / borders between them
  // ---------------------
  %modBase {
    padding-top: $spacing-base;
    padding-bottom: $spacing-base;
    &.mod-no-padding {
      padding: 0;
    }
  }
  .mod {
    &:last-of-type {
      border-bottom: none;
    }
  }
  .mod-thick {
    @extend %modBase;
    border-bottom: 5px solid $shade-black-6;
  }
  .mod-thin {
    @extend %modBase;
    border-bottom: 1px solid $shade-black-5;
  }
  
  // Gutter spacing
  // ---------------------
  .gutters {
    padding-left: $spacing-base;
    padding-right: $spacing-base;
  }
  .gutter-left {
    padding-left: $spacing-base;
  }
  .gutter-left-small {
    padding-left: $spacing-small;
  }
  .gutter-right {
    padding-right: $spacing-base;
  }
  
  // Spacing between different grouped areas in the view
  // -------------------------
  .section {
    margin-bottom: $spacing-xlarge;
  }
  
  // Width
  // -------------------
  .full-width {
    width: 100%;
  }
  .full-height {
    height: 100%;
  }