/**
 * These are variables that are used throughout the different
 * sass files and pages.  In most cases, all colors and sizes
 * should be defined here so we can have a set standardization.
 *
 * We should use the color pallete to update the $theme-colors
 * and $colors maps.
 *
 * Learn more about themeing at:
 * https://getbootstrap.com/docs/4.0/getting-started/theming/
 */

// Color Palette
$shade-black-1:                 #2e2e2e;  // Color base
$shade-black-2:                 #5a5a5a;  // Secondary - dark
$shade-black-3:                 #8a8a8a;  // * Primary *
$shade-black-4:                 #a1a1a1;  // Secondary - light
$shade-black-5:                 #d5d5d5;  // Accent
$shade-black-6:                 #f3f3f3;  // Background  - Used for backgrounds and horizontal rules.

$shade-blue-1:                  #002473;  // Color base
$shade-blue-2:                  #004e86;  // Secondary - dark
$shade-blue-3:                  #0074c8;  // * Primary *
$shade-blue-4:                  #0094f7;  // Secondary - light
$shade-blue-5:                  #bfe5ff;  // Accent
$shade-blue-6:                  #f2f9fe;  // Background

$shade-green-1:                 #0f5200;  // Color base
$shade-green-2:                 #067a1b;  // Secondary - dark
$shade-green-3:                 #09af28;  // * Primary *
$shade-green-4:                 #2cd83a;  // Secondary - light
$shade-green-5:                 #95eb9c;  // Accent
$shade-green-6:                 #f4fdf5;  // Background

$shade-orange-1:                #8a3b00;  // Color base
$shade-orange-2:                #b55800;  // Secondary - dark
$shade-orange-3:                #ff9500;  // * Primary *
$shade-orange-4:                #ffcc00;  // Secondary - light
$shade-orange-5:                #ffe57f;  // Accent
$shade-orange-6:                #fffcf2;  // Background

$shade-red-1:                   #530505;  // Color base
$shade-red-2:                   #a21b15;  // Secondary - dark
$shade-red-3:                   #ff2702;  // * Primary *
$shade-red-4:                   #f6616c;  // Secondary - light
$shade-red-5:                   #feadaf;  // Accent
$shade-red-6:                   #fff4f2;  // Background

// Typography
$font-family-base:              'Open Sans', sans-serif;

// These units are used in sass calculations.
$font-mini:                     0.6875rem;  // 11px
$font-xsmall:                   0.75rem;    // 12px
$font-small:                    0.875rem;   // 14px
$font-base:                     1rem;       // 
$font-medium:                   1.125rem;   // 18px
$font-large:                    1.375rem;   // 22px
$font-xlarge:                   1.625rem;   // 26px

$header-size-1:                 2.25rem;    // h1
$header-size-2:                 1.75rem;    // h2
$header-size-3:                 1.375rem;   // h3
$header-size-4:                 1.125rem;   // h4
$header-size-5:                 0.875rem;   // h5
$header-size-6:                 0.75rem;    // h6

$font-size-base:                $font-base; 

// Line height
$line-height-base:              1.4;

// Font - blacks
$font-color-bk1:                $shade-black-1;  // Primary color used for text
$font-color-bk2:                $shade-black-2;  // Used for a lighter reading experience within the system.
$font-color-bk3:                $shade-black-3;  // Denotes a supplementary piece of information.  Disabled text.
$font-color-bk4:                $shade-black-4;  // Sparingly used as a text or visual accent.
$font-color-bk5:                $shade-black-5;
$font-color-bk6:                $shade-black-6;

// Font - blues
$font-color-b1:                 $shade-blue-1;
$font-color-b2:                 $shade-blue-2;
$font-color-b3:                 $shade-blue-3;
$font-color-b4:                 $shade-blue-4;  // Link Color
$font-color-b5:                 $shade-blue-5;  // Link Hover and Active
$font-color-b6:                 $shade-blue-6;

// Font - reds
$font-color-r1:                 $shade-red-1;
$font-color-r2:                 $shade-red-2;
$font-color-r3:                 $shade-red-3;   // Delete color
$font-color-r4:                 $shade-red-4;
$font-color-r5:                 $shade-red-5;
$font-color-r6:                 $shade-red-6;

// Font - oranges
$font-color-o1:                 $shade-orange-1;
$font-color-o2:                 $shade-orange-2;
$font-color-o3:                 $shade-orange-3;
$font-color-o4:                 $shade-orange-4;
$font-color-o5:                 $shade-orange-5;
$font-color-o6:                 $shade-orange-6;

// Font - greens
$font-color-g1:                 $shade-green-1;
$font-color-g2:                 $shade-green-2;
$font-color-g3:                 $shade-green-3;
$font-color-g4:                 $shade-green-4;
$font-color-g5:                 $shade-green-5;
$font-color-g6:                 $shade-green-6;

$item-default-text:             $font-color-bk1;
$input-color:                   $font-color-bk1;

// Spacing
// multi is for multiple elements where the sum equals the base spacing
$spacing-mini:                  4px;
$spacing-mini-multi:            2px;
$spacing-mini-vert:             4px 0;
$spacing-mini-vert-multi:       2px 0;
$spacing-mini-horz:             0 4px;
$spacing-mini-horz-multi:       0 2px;

$spacing-xsmall:                6px;
$spacing-xsmall-multi:          3px;
$spacing-xsmall-vert:           6px 0;
$spacing-xsmall-vert-multi:     3px 0;
$spacing-xsmall-horz:           0 6px;
$spacing-xsmall-horz-multi:     0 3px;

$spacing-small:                 10px;
$spacing-small-multi:           5px;
$spacing-small-vert:            10px 0;
$spacing-small-vert-multi:      5px 0;
$spacing-small-horz:            0 10px;
$spacing-small-horz-multi:      0 5px;

$spacing-base:                  14px;
$spacing-base-multi:            7px;
$spacing-base-vert:             14px 0;
$spacing-base-vert-multi:       7px 0;
$spacing-base-horz:             0 14px;
$spacing-base-horz-multi:       0 7px;

$spacing-medium:                18px;
$spacing-medium-multi:          9px;
$spacing-medium-vert:           18px 0;
$spacing-medium-vert-multi:     9px 0;
$spacing-medium-horz:           0 18px;
$spacing-medium-horz-multi:     0 9px;

$spacing-large:                 22px;
$spacing-large-multi:           11px;
$spacing-large-vert:            22px 0;
$spacing-large-vert-multi:      11px 0;
$spacing-large-horz:            0 22px;
$spacing-large-horz-multi:      0 11px;

$spacing-xlarge:                26px;
$spacing-xlarge-multi:          13px;
$spacing-xlarge-vert:           26px 0;
$spacing-xlarge-vert-multi:     13px 0;
$spacing-xlarge-horz:           0 26px;
$spacing-xlarge-horz-multi:     0 13px;

$spacing-2xlarge:               44px;
$spacing-2xlarge-multi:         22px;
$spacing-2xlarge-vert:          44px 0;
$spacing-2xlarge-vert-multi:    22px 0;
$spacing-2xlarge-horz:          0 44px;
$spacing-2xlarge-horz-multi:    0 22px;

$spacing-3xlarge:               88px;
$spacing-3xlarge-multi:         44px;
$spacing-3xlarge-vert:          88px 0;
$spacing-3xlarge-vert-multi:    44px 0;
$spacing-3xlarge-horz:          0 88px;
$spacing-3xlarge-horz-multi:    0 44px;

// Borders and horz rules
$border-primary:                $shade-black-5;  // The primary color for horizontal rules and borders.


// Buttons
$btn-primary-bkg:               $shade-orange-3;
$btn-primary-bkg-active:        $shade-orange-4;
$btn-primary-bkg-disabled:      $shade-orange-6;
$btn-primary-inset-color:       rgba(138, 59, 0, 0.12);  // orange shade 1 at 12% opacity
$btn-primary-color:             #fff;

$btn-secondary-bkg-active:      $shade-black-6;
$btn-secondary-bkg-disabled:    #fff;
$btn-secondary-border-color:    $border-primary;
$btn-secondary-inset-color:     rgba(0, 0, 0, 0.12);    // pure black at 12% opacity
$btn-secondary-color:           $font-color-bk1;
$btn-secondary-color-active:    $font-color-bk2;

$btn-delete-bkg-active:         $shade-red-6;
$btn-delete-border-color:       $shade-red-3;
$btn-delete-inset-color:        rgba(95, 17, 11, 0.12);  // red shade 1 at 12% opacity
$btn-delete-color:              $font-color-r3;

$btn-specialty-bkg:             $shade-green-4;
$btn-specialty-border-color:    $shade-green-4;
$btn-specialty-inset-color:     rgba(15, 82, 0, 0.12);  // green shade 1 at 12% opacity
$btn-specialty-color:           #fff;

$btn-link-delete-color:         $shade-red-3;

$btn-segmented-bkg:             $shade-black-6;
$btn-segmented-bkg-active:      #fff;
$btn-segmented-border-color:    #ccc;
$btn-segmented-color:           $font-color-bk1;
$btn-segmented-color-active:    $shade-orange-3;

$btn-supplemental-bkg:          $shade-black-6;
$btn-supplemental-border-color: #ccc;
$btn-supplemental-color:        $font-color-bk1;

$btn-single-touch-color:        $font-color-bk1;
$btn-single-touch-border-color: #ccc;