/*
 *  Typography styles
 */
 html, body,
 h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
   color: $font-color-bk1;
 }
 
 html, body, {
   font-family: $font-family-base;
   font-weight: 400;
   font-size: $font-base;  // rem base size
   line-height: $line-height-base;
 }
 
 // Headers
 // --------------------
 h2, .h2,
 h3, .h3,
 h4, .h4 {
   font-weight: 400;
 }
 h1, .h1 {
   font-size: $header-size-1;
   font-weight: 300;
 }
 h2, .h2 {
   font-size: $header-size-2;
 }
 h3, .h3 {
   font-size: $header-size-3;
 }
 h4, .h4 {
   font-size: $header-size-4;
 }
 h5, .h5 {
   font-size: $header-size-5;
   font-weight: 600;
 }
 h6, .h6 {
   font-size: $header-size-6;
   font-weight: 700;
   text-transform: capitalize;
 }
 
 // Additional Font Sizes
 // --------------------
 .font-xlarge {
   font-size: $font-xlarge;   // 26px
   font-weight: 300;
 }
 .font-large {
   font-size: $font-large;    // 22px
   font-weight: 300;
 }
 .font-medium {
   font-size: $font-medium;   // 18px
 }
 .font-small {
   font-size: $font-small;    // 14px
 }
 .font-xsmall {
   font-size: $font-xsmall;   // 12px
   font-weight: 600;
 }
 .font-mini {
   font-size: $font-mini;     // 11px
   font-weight: 600;
 }
 
 // Font Colors
 // --------------------
 .font-bk1 {
   color: $font-color-bk1;  // Primary text color
 }
 .font-bk2 {
   color: $font-color-bk2;
 }
 .font-bk3 {
   color: $font-color-bk3;
 }
 .font-bk4 {
   color: $font-color-bk4;
 }
 .font-bk5 {
   color: $font-color-bk5;
 }
 .font-bk6 {
   color: $font-color-bk6;
 }
 .font-g3 {
   color: $font-color-g3;
 }
 .font-b4 {
   color: $font-color-b4;  // Font Link color - use for link that aren't <a> tags
 }
 .font-b5 {
   color: $font-color-b5;  // Font Link hover/active color
 }
 .font-r3 {
   color: $font-color-r3;  // Error text or most red text.
 }
 
 // Links
 // --------------------
 a, a:link, a:visited,
 .link {
   color: $font-color-b4;
   text-decoration: none;
   transition: all 0.2s; // need 'all', not just 'color' so all will be in-sync timing wise.
 }
 a:hover, a:active,
 .link:hover, .link:active {
   color: $font-color-b5;
 }
 
 // Close 'X'
 // --------------------
 .close {
   color: $font-color-bk3;
   font-size: 1.6rem;
   line-height: 1.3;
 }
 
 // Specialty Text helpers
 // --------------------
 .disabled {
   color: $font-color-bk4;
 }
 .bold {
   font-weight: 600;
 }
 // When you want a single line not to wrap and show ellipsis
 .no-wrap {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 .strike-through {
   text-decoration: line-through;
   color: $shade-black-1 !important;
 }
 .strike-through-light {
   text-decoration: line-through;
   color: $shade-black-3 !important;
 }